rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissive rules for creative sandbox to prevent any "Missing or insufficient permissions" error for Bung Temin
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
